In [1]:
import pandas as pd
import os
import dask.dataframe as dd
import glob

In [2]:
metrics_df = pd.DataFrame(columns=['Clip', 'Res', 'Tracker', 'IOU_Thresh', 'Dist_Thresh', 'SOTP',\
                                   'SOTA', 'Recall','Precision', 'FPF', 'SODP', 'MT', 'PT', 'ML',\
                                   'Completeness','FM', 'FPS', 'fp_count', 'fp_thresh_count',\
                                   'tp_count','fn_count', 'tn_count', 'N_objects', 'N_frames', 'N_match'])

#### Read in all metrics CSV files and concatenate into one DataFrame
Retains column order

In [3]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('metrics*.csv')], ignore_index = True, sort=True)[metrics_df.columns]

In [4]:
df.shape

(373, 25)

In [5]:
df.head()

,Clip,Res,Tracker,IOU_Thresh,Dist_Thresh,SOTP,SOTA,Recall,Precision,FPF,...,FM,FPS,fp_count,fp_thresh_count,tp_count,fn_count,tn_count,N_objects,N_frames,N_match
0,Ski01,1280,mil,0.4,0.1,0.0089,1.0000,1.0000,1.0000,0.0000,...,0.00,11.22,0,0,1352,0,0,1352,1353.0,1352
1,Ski01,1280,kcf,0.4,0.1,0.0039,0.1220,0.1220,1.0000,0.0000,...,0.88,31.99,0,0,165,1187,0,1352,1353.0,165
2,Ski01,1280,tld,0.4,0.1,0.3780,0.0962,0.0962,0.0962,0.9032,...,0.90,9.05,0,1222,130,0,0,1352,1353.0,1352
3,Ski01,1280,medianflow,0.4,0.1,0.0234,0.9009,0.9009,0.9009,0.0990,...,0.10,28.44,0,134,1218,0,0,1352,1353.0,1352
4,Ski01,1280,goturn,0.4,0.1,1.9771,0.1768,0.1768,0.1768,0.8226,...,0.82,6.24,0,1113,239,0,0,1352,1353.0,1352

In [6]:
df.to_csv('all_results.csv', index_label=None)