In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('./frame_data/Bike03.csv')

In [3]:
test.head()

   frame        x1        y1         w         h
0    1.0  0.006649  0.178487  0.067819  0.117021
1    2.0  0.018617  0.186761  0.067154  0.112293
2    3.0  0.034574  0.193853  0.064495  0.106383
3    4.0  0.043883  0.198582  0.068484  0.115839
4    5.0  0.057181  0.210402  0.068484  0.105201

In [9]:
test.to_csv('testutf8.csv', index=False, sep=';')

In [ ]:
for